


<div layout='row' layout-align='center center' style='min-height:800px;'> <!-- CONTAINER DIV-->
	<div flex-xs='100' flex-sm='100' flex-gt-sm='90' flex-gt-md='70' flex-gt-lg='50' 
	   class='md-whiteframe-z2'  ><!-- FORM BOX DIV -->

	 
	    	<md-toolbar >
			    <h2 class="md-toolbar-tools">
			      <span> PLEASE CHECK IF ALL YOUR DETAILS ARE CORRECT AND APPROVE YOUR PROFILE</span>
			    </h2>
		    </md-toolbar>
	    	

             <md-content  layout-gt-xs="row" layout-padding >    	
		    		<md-input-container flex='100' flex-gt-xs='50' class="md-block" >
			            <label>Postal Code</label>
			            <md-icon md-svg-src="../../img/sidemenu/phone.svg"></md-icon>
			            <input required type='text' md-maxlength="7" ng-model="jobseeker.postalcode">
		            </md-input-container>
		            <div flex="5" hide-xs hide-sm>
			          <!-- Spacer //-->
			        </div>
		            <md-input-container flex='100' flex-gt-xs='50' class="md-block" >
			          <label>Find your address</label>
			          	<md-icon md-svg-src="../../img/sidemenu/phone.svg"></md-icon>
			          	<md-select name="sex" ng-model="jobseeker.sex" >
			            <md-option value="app">Female</md-option>
			            <md-option value="web">Male</md-option>
			          </md-select>
				    </md-input-container>
		            
            </md-content>
            <md-toolbar >
			    <h2 class="md-toolbar-tools">
			      <span>THANK YOU FOR REGISTERING WITH US!: </span>
			    </h2>
		    </md-toolbar>
		     <md-content  layout-gt-xs="row" layout-padding >    	
		    		<md-input-container flex='100' flex-gt-xs='50' class="md-block" >
			            <label>Postal Code</label>
			            <md-icon md-svg-src="../../img/sidemenu/phone.svg"></md-icon>
			            <input required type='text' md-maxlength="7" ng-model="jobseeker.postalcode">
		            </md-input-container>
		            <div flex="5" hide-xs hide-sm>
			          <!-- Spacer //-->
			        </div>
		            <md-input-container flex='100' flex-gt-xs='50' class="md-block" >
			          <label>Find your address</label>
			          	<md-icon md-svg-src="../../img/sidemenu/phone.svg"></md-icon>
			          	<md-select name="sex" ng-model="jobseeker.sex" >
			            <md-option value="app">Female</md-option>
			            <md-option value="web">Male</md-option>
			          </md-select>
				    </md-input-container>
		            
            </md-content>
		    
			
            <div >
		        <md-button ui-sref='apply' type="submit" ng-click='signup()'>ALL FINE, I APPLY</md-button>
		    </div>
		
				
	</div>
	
</div>


      
      




