
<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="none" layout="column">

	 
	    	
			 <md-card >

		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Profile Picture</span>	           
		          </md-card-title-text>
		        </md-card-title>


		         <md-card-content layout="column" layout-align="center center" style="text-align:center;">
			        <div ng-show='!image.originalImage && !jobseeker.profilepic'
			             class="drop-box drop-box-container"
			             ngf-drag-over-class="drop-box-dragover"
			             ngf-change="readFileImg($files)"

			             ngf-drop ngf-select
			             ng-model="files"
			             ngf-multiple="false"
			             ngf-allow-dir="false"
			             accept="image/*" ng-cloak>
			          <span>Drop image or click to upload profile photo</span>
			        </div>

			      
			        <div class="photo-shadow" ng-show='jobseeker.profilepic' ng-cloak>
			          <img class="photo-img" data-ng-src='{{jobseeker.profilepic}}'>
			        </div>
			        <span class="">{{jobseeker.first_name}}</span>
			    
			        <!--<div class="drop-box-container" ng-show='loading' ng-cloak>
			          <div class="wrap">

						 

			            <md-progress-circular class="md-hue-2" ng-show='loading'
			              md-mode="indeterminate" style="margin: auto;">
			            </md-progress-circular>
			          </div>
			        </div>-->
			        
			        <img-crop ng-show='image.originalImage && !jobseeker.profilepic'
			        		  
			                  image="image.originalImage"
			                  result-image="image.croppedImage"
			                  area-type="circle" ngf-accept="'image/*'"
			                  result-image-size="250"
			                  change-on-fly="true"
			                  class="drop-box-container"
			                  ng-cloak>
			        </img-crop>
			   
			        <md-button ng-show='image.originalImage && !jobseeker.profilepic'
			                    ng-disabled='loading' ng-click='upload()'
			                    class="md-raised submit-button md-accent button-center block"
			                    ng-cloak>Save Photo</md-button>
			        <!--Reset-->
			        <md-button ng-show='jobseeker.profilepic' ngf-select
			                   ngf-change="readFileImg($files)"
			                   ng-disabled='loading' ngf-multiple="false"
			                   ngf-allow-dir="false" accept="image/*"
			                   class="button-center block"
			                   ng-cloak>Change Photo
			        </md-button>
			        <input type="file" name='file' file-model='jobseeker.file'>    
			      
			        <md-button ui-sref='apply.ThankYouForRegisteringWithUs' >NEXT TO PREVIEW</md-button>

			      </div>
			    </md-card-content>
		      </md-card>
		   
			
            
				
	</div>
	
</md-content>


      
      

